*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include basic-area;
  @include flex;
  margin-top: 80px;
  height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}