$poppins: "Poppins", Arial, sans-serif;
$accent-color: #475E69;
$green: #02897A;
$dark-secondary: #30444E;
$dark-primary: #1F2E35;
$red: #F03E3D;
$dark: #22343D;
$black: #173A56;
$slateblue: #740A76;
$blue: #4D8DFF;
$accent-border: #BCD0E5;
$changer-color: #F3F3F3;

$tablet: 1140px;
$mobile: 700px;